<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" type="image/jpeg" href="/assets/img/fifi-1.jpeg">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sayad.mehrdad@gmail.com"><img src="assets\icon\email.png" ></a></li>
        		<li><a href="https://fifisayad.github.io/"><img src="assets\icon\website.png" ></a></li>
				<li><a href="https://github.com/fifisayad"><img src="assets\icon\github.png" ></a></li>
				<li><a href="https://www.linkedin.com/in/mehrdadsayad/"><img src="assets\icon\linkedin.png" ></a></li>
				<li><a href="https://twitter.com/mehrdad_sayad"><img src="assets\icon\twitter.png" ></a></li>
			</ul>
		</footer>
	</body>
</html>
